<p id="notice"><%= notice %></p>

<h1>
  <%= @topic.title %>
</h1>

<p> <%= pluralize(@story_count, "User") %> with this story:
<% @stories.each do |s| %>
  <%= render partial: "story_preview", locals: {story: s} %>
<% end %>
</p>

<%= link_to "Edit", edit_topic_path(@topic) %> |
<%= link_to "Back", topics_path %>
