<p id="notice"><%= notice %></p>

<h3> <%= @story.topic.title %> </h3>

<p> <%= @story.desc %> </p>

<p> - <%= link_to @story.user.email, user_path(@story.user) %> </p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
