<!DOCTYPE html>
<html>
<head>
  <title>Kindred</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navheader">
  <div class="logo">
    <h1> <%= link_to "Kindred", root_path %> </h1>
  </div>
  <div class="navlinks">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
</div>
<div class="clear"></div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="sidebar">
  <ul>
<li> <%= link_to "Topics", topics_path %> </li>
<li> <%= link_to "Users", users_path %> </li>
<li> <%= link_to "Stories", stories_path %> </li>
</div>

<div class="maincontent">
  <%= yield %>
</div>


</body>
</html>
